/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.Mar.2015, 13:31:34
    Author     : yucel
*/

.modal-content form .control-group .controls {float:left;}

.table-buttons a,.table-buttons .input-append input { padding:10px; width:200px; margin-left:50px; font-size:15px;}
.table-buttons .add-on {padding:10px;}
.table-buttons .input-append{ float:right;}

#fakeBrowse { margin:0px 0px 10px 10px;}

.impext { margin-left:100px; margin-right:100px; }

.impext-box {height:200px; }

.impext_header { margin-top:-20px;}

.impext_border { border-bottom:1px solid #d4d4d4;
                 margin-bottom:50px; 
                 margin-left:5%;
                 width:90%;
}


#radioForm {display:inline-block;}

#radioForm .radio {float:left; margin-left:30px; }

#radioForm #exportButton { margin-top:25px;}

.modal a {padding:10px; font-size:18px!important;}

.modal { height:620px!important;}

.modal-body {overflow: visible;}

.modal-footer { margin-top:10px; margin-left:-15px; width:100%;}
